@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please click on the <b>Order</b> Tab to find top 5 orders details and fill stock for top product.</p>
</div>
